{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
        "title": "SqlManagementClient",
        "version": "2015-05-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/managedInstances.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "sql-managedInstances",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/managedInstances": {
            "get": {
                "description": "Gets a list of all managed instances in the subscription.",
                "operationId": "ManagedInstances_List",
                "parameters": [
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of managed instances.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of managed instances.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to retrieve next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of results.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM tracked top level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Azure SQL managed instance.",
                                                "properties": {
                                                    "identity": {
                                                        "description": "Azure Active Directory identity configuration for a resource.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The Azure Active Directory principal id.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tenantId": {
                                                                "description": "The Azure Active Directory tenant id.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
                                                                "enum": [
                                                                    "SystemAssigned"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "IdentityType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "description": "Resource properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "administratorLogin": {
                                                                "description": "Administrator username for the managed instance. Can only be specified when the managed instance is being created (and is required for creation).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "administratorLoginPassword": {
                                                                "description": "The administrator login password (required for managed instance creation).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            },
                                                            "collation": {
                                                                "description": "Collation of the managed instance.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "dnsZone": {
                                                                "description": "The Dns Zone that the managed instance is in.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "dnsZonePartner": {
                                                                "description": "The resource id of another managed instance whose DNS zone this managed instance will share after creation.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create"
                                                                ]
                                                            },
                                                            "fullyQualifiedDomainName": {
                                                                "description": "The fully qualified domain name of the managed instance.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "licenseType": {
                                                                "description": "The license type. Possible values are 'LicenseIncluded' and 'BasePrice'.",
                                                                "type": "string"
                                                            },
                                                            "proxyOverride": {
                                                                "description": "Connection type used for connecting to the instance.",
                                                                "enum": [
                                                                    "Proxy",
                                                                    "Redirect",
                                                                    "Default"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ManagedInstanceProxyOverride"
                                                                }
                                                            },
                                                            "publicDataEndpointEnabled": {
                                                                "description": "Whether or not the public data endpoint is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "state": {
                                                                "description": "The state of the managed instance.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "storageSizeInGB": {
                                                                "description": "The maximum storage size in GB.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "subnetId": {
                                                                "description": "Subnet resource ID for the managed instance.",
                                                                "type": "string"
                                                            },
                                                            "timezoneId": {
                                                                "description": "Id of the timezone. Allowed values are timezones supported by Windows.\r\nWindows keeps details on supported timezones, including the id, in registry under\r\nKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones.\r\nYou can get those registry values via SQL Server by querying SELECT name AS timezone_id FROM sys.time_zone_info.\r\nList of Ids can also be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell.\r\nAn example of valid timezone id is \"Pacific Standard Time\" or \"W. Europe Standard Time\".",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "vCores": {
                                                                "description": "The number of VCores.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The resource model definition representing SKU",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "family": {
                                                                "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name of the SKU. Ex - P3. It is typically a letter+number code",
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. ",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***"
                    }
                },
                "tags": [
                    "ManagedInstances"
                ],
                "x-ms-examples": {
                    "List managed instances": {
                        "parameters": {
                            "api-version": "2015-05-01-preview",
                            "subscriptionId": "20D7082A-0FC7-4468-82BD-542694D5042B"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl",
                                            "location": "onebox",
                                            "name": "testcl",
                                            "properties": {
                                                "administratorLogin": "cloudSA",
                                                "collation": "SQL_Latin1_General_CP1_CI_AS",
                                                "dnsZone": "1b4e2caff2530",
                                                "fullyQualifiedDomainName": "testcl.1b4e2caff2530.database.windows.net",
                                                "licenseType": "Full",
                                                "proxyOverride": "Proxy",
                                                "publicDataEndpointEnabled": false,
                                                "state": "Ready",
                                                "storageSizeInGB": 1024,
                                                "timezoneId": "UTC",
                                                "vCores": 8
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "name": "CLS3",
                                                "tier": "Standard"
                                            },
                                            "type": "Microsoft.Sql/managedInstances"
                                        },
                                        {
                                            "id": "/subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl2",
                                            "location": "onebox",
                                            "name": "testcl2",
                                            "properties": {
                                                "administratorLogin": "cloudSA",
                                                "collation": "SQL_Latin1_General_CP1_CI_AS",
                                                "dnsZone": "1b4e2caff2530",
                                                "fullyQualifiedDomainName": "testcl2.1b4e2caff2530.database.windows.net",
                                                "licenseType": "Full",
                                                "proxyOverride": "",
                                                "publicDataEndpointEnabled": false,
                                                "state": "Ready",
                                                "storageSizeInGB": 1024,
                                                "timezoneId": "UTC",
                                                "vCores": 8
                                            },
                                            "sku": {
                                                "capacity": 22,
                                                "name": "CLS15",
                                                "tier": "Standard"
                                            },
                                            "type": "Microsoft.Sql/managedInstances"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances": {
            "get": {
                "description": "Gets a list of managed instances in a resource group.",
                "operationId": "ManagedInstances_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of managed instances.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of managed instances.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link to retrieve next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of results.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM tracked top level resource.",
                                                        "properties": {
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Azure SQL managed instance.",
                                                "properties": {
                                                    "identity": {
                                                        "description": "Azure Active Directory identity configuration for a resource.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The Azure Active Directory principal id.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tenantId": {
                                                                "description": "The Azure Active Directory tenant id.",
                                                                "format": "uuid",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
                                                                "enum": [
                                                                    "SystemAssigned"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "IdentityType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "description": "Resource properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "administratorLogin": {
                                                                "description": "Administrator username for the managed instance. Can only be specified when the managed instance is being created (and is required for creation).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "administratorLoginPassword": {
                                                                "description": "The administrator login password (required for managed instance creation).",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            },
                                                            "collation": {
                                                                "description": "Collation of the managed instance.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "dnsZone": {
                                                                "description": "The Dns Zone that the managed instance is in.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "dnsZonePartner": {
                                                                "description": "The resource id of another managed instance whose DNS zone this managed instance will share after creation.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create"
                                                                ]
                                                            },
                                                            "fullyQualifiedDomainName": {
                                                                "description": "The fully qualified domain name of the managed instance.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "licenseType": {
                                                                "description": "The license type. Possible values are 'LicenseIncluded' and 'BasePrice'.",
                                                                "type": "string"
                                                            },
                                                            "proxyOverride": {
                                                                "description": "Connection type used for connecting to the instance.",
                                                                "enum": [
                                                                    "Proxy",
                                                                    "Redirect",
                                                                    "Default"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ManagedInstanceProxyOverride"
                                                                }
                                                            },
                                                            "publicDataEndpointEnabled": {
                                                                "description": "Whether or not the public data endpoint is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "state": {
                                                                "description": "The state of the managed instance.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "storageSizeInGB": {
                                                                "description": "The maximum storage size in GB.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "subnetId": {
                                                                "description": "Subnet resource ID for the managed instance.",
                                                                "type": "string"
                                                            },
                                                            "timezoneId": {
                                                                "description": "Id of the timezone. Allowed values are timezones supported by Windows.\r\nWindows keeps details on supported timezones, including the id, in registry under\r\nKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones.\r\nYou can get those registry values via SQL Server by querying SELECT name AS timezone_id FROM sys.time_zone_info.\r\nList of Ids can also be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell.\r\nAn example of valid timezone id is \"Pacific Standard Time\" or \"W. Europe Standard Time\".",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "vCores": {
                                                                "description": "The number of VCores.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The resource model definition representing SKU",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "family": {
                                                                "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name of the SKU. Ex - P3. It is typically a letter+number code",
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. ",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 SubscriptionNotFound - The requested subscription was not found.\n\n * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.\n\n * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 504 RequestTimeout - Service request exceeded the allowed timeout."
                    }
                },
                "tags": [
                    "ManagedInstances"
                ],
                "x-ms-examples": {
                    "List managed instances by resource group": {
                        "parameters": {
                            "api-version": "2015-05-01-preview",
                            "resourceGroupName": "Test1",
                            "subscriptionId": "20D7082A-0FC7-4468-82BD-542694D5042B"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl",
                                            "location": "onebox",
                                            "name": "testcl",
                                            "properties": {
                                                "administratorLogin": "cloudSA",
                                                "collation": "SQL_Latin1_General_CP1_CI_AS",
                                                "dnsZone": "1b4e2caff2530",
                                                "fullyQualifiedDomainName": "testcl.1b4e2caff2530.database.windows.net",
                                                "licenseType": "Full",
                                                "proxyOverride": "Redirect",
                                                "publicDataEndpointEnabled": false,
                                                "state": "Ready",
                                                "storageSizeInGB": 1024,
                                                "timezoneId": "UTC",
                                                "vCores": 8
                                            },
                                            "sku": {
                                                "capacity": 1,
                                                "family": "Gen5",
                                                "name": "CLS3",
                                                "tier": "Standard"
                                            },
                                            "type": "Microsoft.Sql/managedInstances"
                                        },
                                        {
                                            "id": "/subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/Test1/providers/Microsoft.Sql/managedInstances/testcl2",
                                            "location": "onebox",
                                            "name": "testcl2",
                                            "properties": {
                                                "administratorLogin": "cloudSA",
                                                "collation": "SQL_Latin1_General_CP1_CI_AS",
                                                "dnsZone": "1b4e2caff2530",
                                                "fullyQualifiedDomainName": "testcl2.1b4e2caff2530.database.windows.net",
                                                "licenseType": "Full",
                                                "proxyOverride": "",
                                                "publicDataEndpointEnabled": false,
                                                "state": "Ready",
                                                "storageSizeInGB": 1024,
                                                "timezoneId": "UTC",
                                                "vCores": 8
                                            },
                                            "sku": {
                                                "capacity": 22,
                                                "family": "Gen4",
                                                "name": "CLS15",
                                                "tier": "Standard"
                                            },
                                            "type": "Microsoft.Sql/managedInstances"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}": {
            "delete": {
                "description": "Deletes a managed instance.",
                "operationId": "ManagedInstances_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the managed instance."
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "The specified managed instance does not exist."
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 SubscriptionNotFound - The requested subscription was not found.\n\n * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.\n\n * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 504 RequestTimeout - Service request exceeded the allowed timeout."
                    }
                },
                "tags": [
                    "ManagedInstances"
                ],
                "x-ms-examples": {
                    "Delete managed instance": {
                        "parameters": {
                            "api-version": "2015-05-01-preview",
                            "managedInstanceName": "testinstance",
                            "resourceGroupName": "testrg",
                            "subscriptionId": "20D7082A-0FC7-4468-82BD-542694D5042B"
                        },
                        "responses": {
                            "200": {
                                "body": ""
                            },
                            "202": {},
                            "204": {
                                "body": ""
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets a managed instance.",
                "operationId": "ManagedInstances_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the specified managed instance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure SQL managed instance.",
                                    "properties": {
                                        "identity": {
                                            "description": "Azure Active Directory identity configuration for a resource.",
                                            "properties": {
                                                "principalId": {
                                                    "description": "The Azure Active Directory principal id.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The Azure Active Directory tenant id.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
                                                    "enum": [
                                                        "SystemAssigned"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "IdentityType"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorLogin": {
                                                    "description": "Administrator username for the managed instance. Can only be specified when the managed instance is being created (and is required for creation).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "administratorLoginPassword": {
                                                    "description": "The administrator login password (required for managed instance creation).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "update"
                                                    ]
                                                },
                                                "collation": {
                                                    "description": "Collation of the managed instance.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "dnsZone": {
                                                    "description": "The Dns Zone that the managed instance is in.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "dnsZonePartner": {
                                                    "description": "The resource id of another managed instance whose DNS zone this managed instance will share after creation.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create"
                                                    ]
                                                },
                                                "fullyQualifiedDomainName": {
                                                    "description": "The fully qualified domain name of the managed instance.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "licenseType": {
                                                    "description": "The license type. Possible values are 'LicenseIncluded' and 'BasePrice'.",
                                                    "type": "string"
                                                },
                                                "proxyOverride": {
                                                    "description": "Connection type used for connecting to the instance.",
                                                    "enum": [
                                                        "Proxy",
                                                        "Redirect",
                                                        "Default"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ManagedInstanceProxyOverride"
                                                    }
                                                },
                                                "publicDataEndpointEnabled": {
                                                    "description": "Whether or not the public data endpoint is enabled.",
                                                    "type": "boolean"
                                                },
                                                "state": {
                                                    "description": "The state of the managed instance.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "storageSizeInGB": {
                                                    "description": "The maximum storage size in GB.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "subnetId": {
                                                    "description": "Subnet resource ID for the managed instance.",
                                                    "type": "string"
                                                },
                                                "timezoneId": {
                                                    "description": "Id of the timezone. Allowed values are timezones supported by Windows.\r\nWindows keeps details on supported timezones, including the id, in registry under\r\nKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones.\r\nYou can get those registry values via SQL Server by querying SELECT name AS timezone_id FROM sys.time_zone_info.\r\nList of Ids can also be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell.\r\nAn example of valid timezone id is \"Pacific Standard Time\" or \"W. Europe Standard Time\".",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "vCores": {
                                                    "description": "The number of VCores.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The resource model definition representing SKU",
                                            "properties": {
                                                "capacity": {
                                                    "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "family": {
                                                    "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the SKU. Ex - P3. It is typically a letter+number code",
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. ",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "*** Error Responses: ***\n\n * 400 SubscriptionNotFound - The requested subscription was not found.\n\n * 404 SubscriptionDoesNotHaveManagedInstance - The requested managed instance was not found\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 409 ConflictingManagedInstanceOperation - An operation is currently in progress for the managed instance.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.\n\n * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.\n\n * 504 RequestTimeout - Service request exceeded the allowed timeout."
                    }
                },
                "tags": [
                    "ManagedInstances"
                ],
                "x-ms-examples": {
                    "Get managed instance": {
                        "parameters": {
                            "api-version": "2015-05-01-preview",
                            "managedInstanceName": "testcl",
                            "resourceGroupName": "testrg",
                            "subscriptionId": "20d7082a-0fc7-4468-82bd-542694d5042b"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/20d7082a-0fc7-4468-82bd-542694d5042b/resourceGroups/testrg/providers/Microsoft.Sql/managedInstances/testcl",
                                    "location": "onebox",
                                    "name": "testcl",
                                    "properties": {
                                        "administratorLogin": "cloudSA",
                                        "collation": "SQL_Latin1_General_CP1_CI_AS",
                                        "dnsZone": "1b4e2caff2530",
                                        "fullyQualifiedDomainName": "testcl.1b4e2caff2530.database.windows.net",
                                        "licenseType": "Full",
                                        "proxyOverride": "Default",
                                        "publicDataEndpointEnabled": false,
                                        "state": "Ready",
                                        "storageSizeInGB": 1024,
                                        "timezoneId": "UTC",
                                        "vCores": 8
                                    },
                                    "sku": {
                                        "capacity": 1,
                                        "family": "Gen4",
                                        "name": "CLS3",
                                        "tier": "Standard"
                                    },
                                    "type": "Microsoft.Sql/managedInstances"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a managed instance.",
                "operationId": "ManagedInstances_Update",
                "parameters": [
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the managed instance.",
                        "in": "path",
                        "name": "managedInstanceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the managed instance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM tracked top level resource.",
                                            "properties": {
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure SQL managed instance.",
                                    "properties": {
                                        "identity": {
                                            "description": "Azure Active Directory identity configuration for a resource.",
                                            "properties": {
                                                "principalId": {
                                                    "description": "The Azure Active Directory principal id.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "description": "The Azure Active Directory tenant id.",
                                                    "format": "uuid",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
                                                    "enum": [
                                                        "SystemAssigned"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "IdentityType"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "properties": {
                                            "description": "Resource properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "administratorLogin": {
                                                    "description": "Administrator username for the managed instance. Can only be specified when the managed instance is being created (and is required for creation).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "administratorLoginPassword": {
                                                    "description": "The administrator login password (required for managed instance creation).",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "update"
                                                    ]
                                                },
                                                "collation": {
                                                    "description": "Collation of the managed instance.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "dnsZone": {
                                                    "description": "The Dns Zone that the managed instance is in.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "dnsZonePartner": {
                                                    "description": "The resource id of another managed instance whose DNS zone this managed instance will share after creation.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create"
                                                    ]
                                                },
                                                "fullyQualifiedDomainName": {
                                                    "description": "The fully qualified domain name of the managed instance.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "licenseType": {
                                                    "description": "The license type. Possible values are 'LicenseIncluded' and 'BasePrice'.",
                                                    "type": "string"
                                                },
                                                "proxyOverride": {
                                                    "description": "Connection type used for connecting to the instance.",
                                                    "enum": [
                                                        "Proxy",
                                                        "Redirect",
                                                        "Default"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ManagedInstanceProxyOverride"
                                                    }
                                                },
                                                "publicDataEndpointEnabled": {
                                                    "description": "Whether or not the public data endpoint is enabled.",
                                                    "type": "boolean"
                                                },
                                                "state": {
                                                    "description": "The state of the managed instance.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "storageSizeInGB": {
                                                    "description": "The maximum storage size in GB.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "subnetId": {
                                                    "description": "Subnet resource ID for the managed instance.",
                                                    "type": "string"
                                                },
                                                "timezoneId": {
                                                    "description": "Id of the timezone. Allowed values are timezones supported by Windows.\r\nWindows keeps details on supported timezones, including the id, in registry under\r\nKEY_LOCAL_MACHINE\\SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Time Zones.\r\nYou can get those registry values via SQL Server by querying SELECT name AS timezone_id FROM sys.time_zone_info.\r\nList of Ids can also be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell.\r\nAn example of valid timezone id is \"Pacific Standard Time\" or \"W. Europe Standard Time\".",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "vCores": {
                                                    "description": "The number of VCores.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The resource model definition representing SKU",
                                            "properties": {
                                                "capacity": {
                                                    "description": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "family": {
                                                    "description": "If the service has different generations of hardware, for the same SKU, then that can be captured here.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the SKU. Ex - P3. It is typically a letter+number code",
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "description": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. ",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "location"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "default": {
[...]
